body,
html {
  height: 100%;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/WorkSans-VariableFont_wght.ttf');
}

p {
  font-size: 16px;
  font-family: 'Work Sans';
  color: rgb(0, 0, 0);
}
span {
  font-family: 'Work Sans';
  color: rgb(0, 0, 0);
  font-size: 14px;
}
h3 {
  font-size: 18px;
  font-family: 'Work Sans';
  color: rgb(0, 0, 0);
  margin: 0;
}

a {
  font-family: 'Work Sans';
}

ul {
  text-align: initial;
}

#profile_img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.main {
  height: 100%;
  background-image: url('../images/bg_main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.geral-info {
  background-color: rgba(241, 241, 241, 0.801);
}

.main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.3;
}

.list-group-item,
.list-group-item.active {
  background-color: #343a40;
  border-color: #343a40;
}

.list-group-item:hover {
  background-color: #343a40;
  border-color: #343a40;
  color: rgba(255, 255, 255, 0.8);
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item-action {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 16px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 14px;
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
  }
  a {
    font-size: 14px;
    padding: 5px !important;
  }
  img {
    width: 80%;
  }
  .list-group-item {
    padding: 5px;
  }
}

@media screen and (max-width: 320px) {
  h3 {
    font-size: 13px;
  }
  span {
    font-size: 9px;
  }
  p {
    font-size: 11px;
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
  }
  a {
    font-size: 11px;
    padding: 5px !important;
  }
}
