body,
html {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
p {
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 0, 0);
}

a {
    font-family: 'Roboto Mono', monospace;
}

.main {
    height: 100%;
    background-image: url('../images/bg_main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.geral-info {
    background-color: rgba(241, 241, 241, 0.801);
}

.main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .3;
}