body,
html {
    height: 100%;
}

p {
    font-weight: 200;
    font-size: 50px;
    color: black;
}

.main {
    height: 100%;
    background-image: url('../images/bg_main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.geral-info {
    height: 100%;
    background-color: rgba(241, 241, 241, 0.801);
    padding: 50px;
}